/*--NavBar--*/
.topnav {
    background-color: white;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0px 10px;
    position: sticky;
    position: -webkit-sticky;
    z-index: 100;
    height: 45px;
    opacity: .95;
    filter: alpha(opacity95); /* IE8 and lower */
  }
  
  .topnav a{
    color: black;
    float: left;
    padding: 3px 16px;
    text-decoration: none;
    text-align: center;
  }
  
  .topnav a:hover{
    color: grey;
    text-decoration: none;
  }
  
  .topnav a.active {
    color: grey;
    text-decoration: none;
  }
  
  .topnav .nav-option {
    color: black;
  }
  
  .topnav .nav-option.fa {
    display: none;
  }
  
  .topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .fa {
    margin-top: 10px;
    display: block;
    padding: 0px 10px;
    float: right;
    color: black;
    z-index: 100;
  }
  
  .fa:before {
    color: black;
  }
  
  .topnav-right {
    float: right;
    color: black;
  }
  
  .topnav .topnav-right a.icon {
    display: none;
    margin-right: 10px;
    padding: 0px 5px;
    position: fixed;
    height: 45px;
  }
  
  .topnav .topnav-right .fa-bars {
    font-size: 24px;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a.topnav-left {
      display: none;
      float: none;
      text-align: left;
      width: 100%;
      background-color: white;
      opacity: .95;
      filter: alpha(opacity=95); /* IE8 and lower */
    }
  
    .topnav.responsive .nav-option.fa {
    padding: 10px 17px;
    margin: 0;
    }
  
    .topnav{
      padding: 0;
    }
    .topnav .nav-professional{
      padding-top: 45px;
    }
    .topnav .topnav-right a.fa-linkedin {display: none;}
    .topnav .topnav-right a.fa-instagram {display: none;}
    .topnav .topnav-right a.icon  {
      display: block;
      position: fixed;
      right: 0;
      top: 0;
    }
  
    .topnav.responsive a.topnav-left {
      display: block;
      padding-top: 45px;
    }
  }